# Files
scripts/*.xml
*.o
*.a
*.so
Makefile
Makefile.in
cxparser/aclocal.m4
cxparser/config.sub
cxparser/config.guess
cxparser/compile
cxparser/config.h.in
cxparser/configure
cxparser/config.status
cxparser/config.h
cxparser/config.log
cxparser/install-sh
cxparser/stamp-h1
cxparser/missing
cxparser/depcomp
cxparser/libtool
cxparser/ltmain.sh
cxparser/src/cxparser

# Folders
cxparser/m4/
cxparser/autom4te.cache
cxparser/nbproject/private
.deps
